.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(256deg, #D6D6D6 0%, #3edb00 23.26%, #30a800 47.22%, #248000 75.87%, #248000 99.31%);
    height: auto;

}

.cadastro-enfeite{
    display: flex;
    align-items: center;
    .cadastro-enfeite-img{
        width: 15rem;
    }
}

.cadastro-dados{
    display: flex;
    gap: 1rem;
}

.cadastro-senhas{
    display: flex;
    gap: 1rem;
}

.cadastro-card{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    background-color:#ffff;
    border-radius: 10px;
    margin: 4rem;
}

.cadastro-button{
    background-color: #248000;
    font-size: 20px;
    color: #ffff;
    padding: 0.8rem 2rem;
    margin: 2rem 0;

}

.cadastro-button:hover{
    color:#248000;
    border: 0.8px solid #248000;
}

.cadastro-endereco-section{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 720px){
    .cadastro-card{
        padding: 2rem 1rem;
        margin: 0.8rem;
    }
    .cadastro-enfeite{
        flex-direction: column;
    }
    .cadastro-dados{
        flex-direction: column;
    }
    .cadastro-senhas{
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px){
    .cadastro-dados{
        flex-direction: column;
    }
}