.causas-container {
    text-align: center;
    padding: 20px;
  
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
      color: #248000;
    }
  
    .causas-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Quatro colunas */
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
  
      .causas-box {
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 8px;
        padding: 20px;
        max-width: 300px;
  
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 16px;
        }
      }
    }
  }
  